.contenedor{
    display: flex;
    justify-content: center;
    padding: 40px;
    width: 100vw;
}
.cuerpo{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    /* flex-wrap: wrap; */
    gap: 20px;
}
input{
    height: 40px;
    width: 320px;
}
.boton{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
    
}
button{
    height: 40px;
    width: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-wrap: wrap;
    border: none;
    border-radius: 80px;
    
}

@media (max-width: 768px) {
    .cuerpo {
        width: 320px; 
        gap: 15px;
    }
    .btnIgual{
        width: 100%;
    }
    
    input {
        width: 280px;
        margin: 0 auto;
    }

    button {
        width: 60px; 
        height: 40px;
    }
}